.font-size-small-s{
    font-size: 28px;
}
.font-size-small{
    font-size: 32px;
}
.font-size-middle-s{
    font-size: 36px;
}
.font-size-middle{
    font-size: 40px;
}
.font-size-large-s{
    font-size: 44px;
}
.font-size-large{
    font-size: 48px;
}